* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --color-primary: #0d8fcd;
  --color-secondary: #529ec29f;
  --color-background: #f3f3f3;
  --font-color: #444;
}

body {
  font-family: sans-serif;
  color: var(--font-color);
  line-height: 4rem;
  background-image: radial-gradient(
    farthest-corner at top 6em left 6em,
    var(--color-background) 0%,
    var(--color-secondary) 100%
  );
}

main {
  display: grid;
  grid-template-columns: 1.62fr 1fr;
  align-content: stretch;
  align-items: stretch;
  justify-items: center;
  row-gap: 2rem;
  margin: 0 3em;
}

h3 {
  font-size: 1.7em;
}

p,
h4,
li {
  font-size: 1.5em;
}

li {
  margin-left: 25px;
}

.name-container {
  grid-column: 1 / -1;
  text-align: left;
  margin-bottom: 0.5em;
}

.name {
  font-size: 4rem;
  margin-top: 2rem;
}

.nav {
  padding: 0 6rem;
  height: 8em;
  display: flex;
  justify-content: center;
}

.nav-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  flex: 1;

  margin-bottom: 1em;
}

.nav-item {
  font-size: 2em;
}

.personal-info {
  text-align: center;
  display: flex;
  flex-direction: column;

  align-items: stretch;
}

.personal-info-grid {
  flex: 4;
  display: grid;
  min-height: 310px;
  grid-template-columns: 1fr 1fr;
  align-content: stretch;
  justify-items: start;
  align-items: center;
}

.section-title {
  font-size: 3.5em;
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  grid-column: 1;

  justify-self: start;
}

.personal-info .section-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  flex: 1;
  font-size: 3em;
}

.face-img {
  width: 590px;
  height: auto;
  grid-column: 2;
}

.two-col-grid {
  width: 90vw;
  /* font-size: 1.8rem; */
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: stretch;
  align-items: stretch;
  justify-content: start;
  row-gap: 2rem;
}

.button-cool {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}
